/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #004d99;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
    width: 100px;
}
nav ul li a:hover {
    text-decoration: underline;
    font-size: 15px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

#contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-info {
    flex: 1;
    min-width: 300px;
}

.contact-details {
    margin-bottom: 20px;
}

.contact-details p {
    margin: 10px 0;
}

.contact-form {
    max-width: 600px;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    background-color: #004d99;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.contact-form button:hover {
    background-color: #003366;
}

#form-response {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}

.hidden {
    display: none;
}

#map {
    margin-top: 20px;
}

footer {
    background: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
}

.social-media a img {
    width: 24px;
    margin: 0 5px;
}
.footer-content {
    background-color: #004d99;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content p {
    margin: 10px 0;
}
.footer-content a{
    color: white;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    height: 30px;
}
.social-media img a{
    height: 20px;
}